[Unit]
Description=KL Hockey Bot for Telegram service

[Service]
WorkingDirectory=/klhockeybot/bin/
SyslogIdentifier=klhockeybot
ExecStart=/usr/share/dotnet/dotnet /klhockeybot/bin/KLHockeyBot.dll 5000
Restart=always    
RestartSec=10

[Install]
WantedBy=multi-user.target
