<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="DBPlayersPhotoDirPath" value="/DB/PlayersPhoto/" />
        <add key="DBPlayersInfoPath" value="/DB/Sources/PlayersInfo.txt" />
        <add key="DBEventsInfoPath" value="/DB/Sources/EventsInfo.txt" />
        <add key="DBGamesInfoPath" value="/DB/Sources/NewsInfo.txt" />
        <add key="DBFile" value="/DB/database.db" />
        <add key="BotToken" value="286980548:AAFR1TsNb-WGV4LZd4ukjSTNALod4nE6oaY" />
        <add key="AdminDimon" value="85914401" />
        <add key="PWD" value="PWD" />
    </appSettings>
</configuration>
